* {
    -proglev-main-menu-background-color: #dddddd;
}
/***************************/
/* main application window */
/***************************/
.proglev-main-menu {
    -fx-background-color: -proglev-main-menu-background-color;
}

.proglev-main-menu > .button {
    -fx-background-color: -proglev-main-menu-background-color;
    -fx-background-insets: 0px;
    -fx-background-radius: 0px;
    -fx-border-width: 0px;
    -fx-text-fill: #555555;
    -fx-font-size: 20px;
}

.proglev-main-menu > .button:hover {
    -fx-text-fill: #777777;
}

/****************************/
/* pregnancy details screen */
/****************************/
.proglev-name-header
{
    -fx-font-size: 20px;
}

.proglev-name-header > .button {
    -fx-background-color: -proglev-main-menu-background-color;

}

/***************************/
/* progesteron level chart */
/***************************/
.default-color0.chart-line-symbol,
.default-color1.chart-line-symbol,
.default-color2.chart-line-symbol
{
    -fx-background-color: transparent, transparent;
}

.default-color0.chart-series-line,
.default-color2.chart-series-line
{
    -fx-stroke: #777777;
    -fx-stroke-width: 1px;
    -fx-stroke-dash-array: 5.0 3.0;
}

.default-color1.chart-series-line
{
    -fx-stroke: #333333;
    -fx-stroke-width: 1px;
}

/* measurement series */
.default-color3.chart-line-symbol
{
    -fx-background-color: radial-gradient(center 50% 50%, radius 50%, rgba(65, 131, 196, 0.75), rgba(65, 131, 196, 0.0)) , rgba(65, 131, 196, 1);
    -fx-background-insets: 0px, 14px;
    -fx-background-radius: 16px, 2px;
    -fx-padding: 16px;
    -fx-font-size: 20px;
}

.default-color3.chart-series-line
{
    -fx-stroke: transparent;
}

/***************************/
/***** pregnancy list ******/
/***************************/
.search-field-container {
    -fx-padding: 10 10 10 50;
}

.search-field {
    -fx-font-size: 14px;
}

.search-icon {
    -fx-padding: 0 10 0 0;
    -fx-text-fill: #bbbbbb;
}

.pregnancy-list-item {
    -fx-padding: 0 0 10 50;
}

.pregnancy-list-item-name {
    -fx-font-size: 20px;
    -fx-text-fill: #4183c4;
}

.pregnancy-list-item-name:hover {
    -fx-underline: true;
    -fx-cursor: hand;
}

.pregnancy-list-item-email {
    -fx-font-size: 14px;
}

.pregnancy-list-item:hover {
    -fx-background-color: #eeeeee;
}


/***************************/
/******* edit form *********/
/***************************/
.edit-form {
    -fx-font-size: 14px;
    -fx-background-color: rgba(255, 255, 255, 0.85);
}