<div>
  <div class="page-header">
    <h1>
      <div class="row">
        <div class="col-sm-8">
          {{pregnancy.patientFirstName}}
          {{pregnancy.patientLastName}}
          <a class="btn btn-default btn-xs fa fa-pencil" [routerLink]="['edit']">EDIT</a>
        </div>
        <div class="col-sm-4 text-right">
          <a class="btn btn-primary" [routerLink]="['measurement', 'add']">Dodaj wynik badania</a>
        </div>
      </div>

    </h1>
  </div>
  <canvas id="myChart" width="400" height="200"></canvas>
</div>
