<div>
  <div class="page-header">
    <h1>
      <div class="row">
        <div class="col-sm-8">
          {{pregnancy.patientFirstName}}
          {{pregnancy.patientLastName}}
          <button class="btn btn-default btn-xs fa fa-pencil" data-ng-click="toggleDetails()"></button>
        </div>
        <div class="col-sm-4 text-right">
          <button class="btn btn-primary" data-ng-click="toggleMeasurement()">Dodaj wynik badania</button>
        </div>
      </div>

    </h1>
  </div>
  <canvas id="myChart" width="400" height="200"></canvas>
</div>
